#janrainModal {
  z-index: 999999999 !important;
}
#janrainModal .capture-ui-content {
  width: 450px;
}

.capture_fox_alert {
  color: #bc0000;
}

.capture_fox_buttoncol {
  width: 245px;
  text-align: right;
}

.capture_fox_clearfix {
  overflow: hidden;
  *zoom: 1;
}

.capture_fox_marginTop {
  margin-top: 30px;
}

.capture_fox_alert_callout {
  background-color: #FFF6CF;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 2px;
}
.capture_fox_alert_callout {
  *display: inline;
}

.capture_fox_profile_saved {
  background-image: url("../images/clock.png");
  background-repeat: no-repeat;
  background-position: left 1px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  height: 16px;
  width: 12px;
  margin-right: 7px;
}
.capture_fox_profile_saved {
  *display: inline;
}

.capture_fox_change_password {
  padding-left: 20px;
  background-image: url("../images/key.png");
  background-repeat: no-repeat;
  background-position: left center;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.capture_fox_change_password {
  *display: inline;
}

.capture_fox_crop_icon,
.capture_fox_preview_icon {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
}
.capture_fox_crop_icon,
.capture_fox_preview_icon {
  *display: inline;
}

.capture_fox_crop_icon {
  background-image: url("../images/crop.png");
}

.capture_fox_preview_icon {
  background-image: url("../images/preview.png");
}

.capture_fox_social_btn {
  width: 196px;
  margin: 0 5px 5px 0;
  text-transform: capitalize;
}
.capture_fox_social_btn#capture_mergeAccounts_mergeAccounts_connectButton {
  font: bold 12px/17px Helvetica, sans-serif;
  color: #333;
  cursor: pointer;
  text-align: left;
  width: 212px;
}
.capture_fox_social_btn#capture_mergeAccounts_mergeAccounts_createButton {
  display: block !important;
  font: bold 12px/17px Helvetica, sans-serif;
  cursor: pointer;
  text-align: left;
  width: 212px;
}

.capture_fox_profile_btn {
  width: 122px;
  margin-top: 10px;
  text-align: center;
}

.capture_fox_dashed {
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 5px;
}

.capture_public_gender {
  text-transform: capitalize;
}

.janrainCropSquare {
  -moz-box-shadow: 0 0 0 1px white, 0 0 3px black;
  -webkit-box-shadow: 0 0 0 1px white, 0 0 3px black;
  -o-box-shadow: 0 0 0 1px white, 0 0 3px black;
  box-shadow: 0 0 0 1px white, 0 0 3px black;
}

.janrainCrop_container,
.janrainTracker {
  background-color: white !important;
}

.janrainCrop_container_dashed {
  border: 1px dashed #cccccc;
  padding: 10px;
}

#janrainModal .janrain_modal_closebutton {
  color: #838383;
  right: 20px;
  top: 25px;
  background-color: transparent;
}

#janrainModal .janrain-capture-ui.capture-ui-content {
  padding: 20px;
  background-color: #f5f5f5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
#janrainModal .janrain-capture-ui.capture-ui-content.capture_med_footer {
  padding-bottom: 60px;
}
#janrainModal .janrain-capture-ui.capture-ui-content .capture_header {
  padding-bottom: 10px;
  border-bottom: 1px #BBBBBB solid;
}
#janrainModal .janrain-capture-ui.capture-ui-content#capture_editProfile_photoManager_uploadphotoscreen {
  padding-bottom: 20px;
}
#janrainModal .janrain-capture-ui.capture-ui-content#capture_editProfile_photoManager_uploadphotoscreen .capture_footer {
  position: static;
  text-align: left;
  margin: 0;
}
#janrainModal .janrain-capture-ui.capture-ui-content#capture_editProfile_photoManager_uploadphotoscreen .capture_footer input {
  margin-left: 0;
  margin-right: 0;
}
#janrainModal .janrain-capture-ui.capture-ui-content#capture_editProfile_photoManager_editphotoscreen {
  padding-bottom: 20px;
  min-height: 300px;
}
#janrainModal .janrain-capture-ui.capture-ui-content#capture_editProfile_photoManager_editphotoscreen .capture_footer {
  left: auto;
  right: 35px;
  top: 220px;
  margin: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 125px;
}
#janrainModal .janrain-capture-ui.capture-ui-content#capture_editProfile_photoManager_editphotoscreen .capture_footer {
  *display: inline;
}
#janrainModal .janrain-capture-ui.capture-ui-content#capture_editProfile_photoManager_editphotoscreen .capture_footer input {
  margin-left: 0;
  margin-right: 0;
  width: 125px;
}

.janrain-capture-ui {
  /*/ Text/Element Styles /*/
  font-size: 12px;
  line-height: 17px;
  font-family: helvetica, sans-serif;
  color: #333333;
  background-color: transparent;
  /*/ Form Styles /*/
}
.janrain-capture-ui .capture_fox_photoLinks {
  margin-left: 15px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.janrain-capture-ui .capture_fox_photoLinks {
  *display: inline;
}
.janrain-capture-ui .capture_fox_photoLinks h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.janrain-capture-ui h1 {
  font-size: 21px;
  margin: 0;
}
.janrain-capture-ui .capture_display_name {
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.janrain-capture-ui h2 {
  font-size: 16px;
  margin: 30px 0 0 0;
}
.janrain-capture-ui h3 {
  margin: 0;
}
.janrain-capture-ui .hr {
  border-bottom: 1px #BBBBBB solid;
  height: 0;
  margin: 10px 0 15px 0;
  display: block;
}
.janrain-capture-ui p {
  margin: 15px 0 0 0;
}
.janrain-capture-ui .capture_retrieving {
  background-color: white;
}
.janrain-capture-ui .capture_dashed {
  border: 1px #cccccc dashed;
}
.janrain-capture-ui .capture_border {
  border: 1px solid #cccccc;
}
.janrain-capture-ui .capture_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  *zoom: 1;
}
.janrain-capture-ui .capture_footer:after {
  content: "";
  display: table;
  clear: both;
}
.janrain-capture-ui .capture_profile_section {
  margin: 10px 20px 0 0;
  padding: 0;
  position: relative;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
.janrain-capture-ui .capture_profile_section {
  *display: inline;
}
.janrain-capture-ui a {
  color: #153a50;
  text-decoration: none;
}
.janrain-capture-ui a:hover {
  color: #050e13;
}
.janrain-capture-ui .capture_text_input, .janrain-capture-ui .capture_inputPlaceholder, .janrain-capture-ui .capture_select, .janrain-capture-ui .capture_textarea {
  font-size: 13px;
  font-family: Helvetica,sans-serif;
  border: 1px solid #cccccc;
  color: #b3b3b3;
  padding: 8px 5px;
  margin: 2px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  background-color: white;
}
.janrain-capture-ui .capture_text_input:focus, .janrain-capture-ui .capture_inputPlaceholder:focus, .janrain-capture-ui .capture_select:focus, .janrain-capture-ui .capture_textarea:focus {
  color: black;
  background-color: white;
  -moz-box-shadow: 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid gray;
}
.janrain-capture-ui .capture_text_input, .janrain-capture-ui .capture_inputPlaceholder, .janrain-capture-ui .capture_textarea, .janrain-capture-ui .capture_inputPlaceholder {
  width: 225px;
  color: black;
}
.janrain-capture-ui .capture_text_input::-webkit-input-placeholder, .janrain-capture-ui .capture_inputPlaceholder::-webkit-input-placeholder, .janrain-capture-ui .capture_textarea::-webkit-input-placeholder, .janrain-capture-ui .capture_inputPlaceholder::-webkit-input-placeholder {
  color: #b3b3b3;
}
.janrain-capture-ui .capture_text_input:-moz-placeholder, .janrain-capture-ui .capture_inputPlaceholder:-moz-placeholder, .janrain-capture-ui .capture_textarea:-moz-placeholder, .janrain-capture-ui .capture_inputPlaceholder:-moz-placeholder {
  color: #b3b3b3;
}
.janrain-capture-ui .capture_text_input:-ms-input-placeholder, .janrain-capture-ui .capture_inputPlaceholder:-ms-input-placeholder, .janrain-capture-ui .capture_textarea:-ms-input-placeholder, .janrain-capture-ui .capture_inputPlaceholder:-ms-input-placeholder {
  color: #b3b3b3;
}
.janrain-capture-ui .capture_select {
  width: 237px;
  color: black;
  -moz-box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
}
.janrain-capture-ui .capture_select:focus {
  -moz-box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0 0 3px gray, 0 4px 5px -3px rgba(0, 0, 0, 0.1) inset;
}
.janrain-capture-ui .capture_select.capture_disabled {
  color: #b3b3b3;
}
.janrain-capture-ui .capture_select.capture_disabled:focus {
  color: black;
}
.janrain-capture-ui .capture_save_success {
  background: #64AE29;
  padding: 5px;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}
.janrain-capture-ui .capture_btn, .janrain-capture-ui a.capture_btn, .janrain-capture-ui button.capture_btn, .janrain-capture-ui .capture_btn, .janrain-capture-ui .capture_backButton {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.janrain-capture-ui .capture_btn:active, .janrain-capture-ui a.capture_btn:active, .janrain-capture-ui button.capture_btn:active, .janrain-capture-ui .capture_btn:active, .janrain-capture-ui .capture_backButton:active {
  -moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}
.janrain-capture-ui .capture_btn.capture_btn_full, .janrain-capture-ui a.capture_btn.capture_btn_full, .janrain-capture-ui button.capture_btn.capture_btn_full, .janrain-capture-ui .capture_btn.capture_btn_full, .janrain-capture-ui .capture_backButton.capture_btn_full {
  margin: 3px 5px;
  width: 278px;
  padding: 10px 0;
}
.janrain-capture-ui .capture_btn.capture_btn_half, .janrain-capture-ui a.capture_btn.capture_btn_half, .janrain-capture-ui button.capture_btn.capture_btn_half, .janrain-capture-ui .capture_btn.capture_btn_half, .janrain-capture-ui .capture_backButton.capture_btn_half {
  width: 40%;
  margin: 3px 5px;
}
.janrain-capture-ui .capture_primary, .janrain-capture-ui a.capture_primary, .janrain-capture-ui button.capture_primary, .janrain-capture-ui input.capture_primary {
  background-color: #234e6c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #234e6c), color-stop(100%, #102c40));
  background: -webkit-linear-gradient(top, #234e6c, #102c40);
  background: -moz-linear-gradient(top, #234e6c, #102c40);
  background: -o-linear-gradient(top, #234e6c, #102c40);
  background: -ms-linear-gradient(top, #234e6c, #102c40);
  background: linear-gradient(top, #234e6c, #102c40);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  font-family: helvetica,sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  min-width: 100px;
}
.janrain-capture-ui a.capture_primary:visited,
.janrain-capture-ui a.capture_primary:link,
.janrain-capture-ui a.capture_primary:hover {
  color: white;
}
.janrain-capture-ui .capture_secondary, .janrain-capture-ui .capture_display_toggle_wrap, .janrain-capture-ui button.capture_secondary, .janrain-capture-ui button.capture_display_toggle_wrap, .janrain-capture-ui input.capture_secondary, .janrain-capture-ui input.capture_display_toggle_wrap {
  background-color: #f6f6f6;
  background-image: none;
  border: 1px solid #cccccc;
  padding: 5px 7px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-weight: bold;
  color: #153a50;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 -1px 1px 0px white inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 -1px 1px 0px white inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 -1px 1px 0px white inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 1px 0px white inset, 0 -26px 13px -13px rgba(0, 0, 0, 0.1) inset;
  text-shadow: 0 1px 1px white;
}
.janrain-capture-ui .capture_secondary, .janrain-capture-ui .capture_display_toggle_wrap, .janrain-capture-ui button.capture_secondary, .janrain-capture-ui button.capture_display_toggle_wrap, .janrain-capture-ui input.capture_secondary, .janrain-capture-ui input.capture_display_toggle_wrap {
  *display: inline;
}
.janrain-capture-ui .janrain-provider-icon-facebook-custom {
  background-image: url("../images/facebook.png");
  height: 24px;
  width: 24px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
}
.janrain-capture-ui .janrain-provider-icon-facebook-custom {
  *display: inline;
}
.janrain-capture-ui .janrain-provider-icon-twitter-custom {
  background-image: url("../images/twitter.png");
  height: 24px;
  width: 24px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
}
.janrain-capture-ui .janrain-provider-icon-twitter-custom {
  *display: inline;
}
.janrain-capture-ui .janrain-provider-icon-linkedin-custom {
  background-image: url("../images/linkedin.png");
  height: 24px;
  width: 24px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
}
.janrain-capture-ui .janrain-provider-icon-linkedin-custom {
  *display: inline;
}
.janrain-capture-ui .janrain-provider-icon-google-custom {
  background-image: url("../images/google.png");
  height: 24px;
  width: 24px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
}
.janrain-capture-ui .janrain-provider-icon-google-custom {
  *display: inline;
}
.janrain-capture-ui .janrain-provider-icon-aol-custom {
  background-image: url("../images/aol.png");
  height: 24px;
  width: 24px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
}
.janrain-capture-ui .janrain-provider-icon-aol-custom {
  *display: inline;
}
.janrain-capture-ui .janrain-provider-icon-yahoo-custom {
  background-image: url("../images/yahoo.png");
  height: 24px;
  width: 24px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
}
.janrain-capture-ui .janrain-provider-icon-yahoo-custom {
  *display: inline;
}
.janrain-capture-ui .janrain-provider-icon-email-custom {
  background-image: url("../images/email.png");
  height: 24px;
  width: 24px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
}
.janrain-capture-ui .janrain-provider-icon-email-custom {
  *display: inline;
}
.janrain-capture-ui .capture_facebook {
  color: #385b81;
}
.janrain-capture-ui .capture_facebook:hover {
  color: #21354c;
}
.janrain-capture-ui .capture_twitter {
  color: #32a3c8;
}
.janrain-capture-ui .capture_twitter:hover {
  color: #23718b;
}
.janrain-capture-ui .capture_google {
  color: #dc4938;
}
.janrain-capture-ui .capture_google:hover {
  color: #aa2c1e;
}
.janrain-capture-ui .capture_linkedin {
  color: #0072b2;
}
.janrain-capture-ui .capture_linkedin:hover {
  color: #004165;
}
.janrain-capture-ui .capture_yahoo {
  color: #7f0098;
}
.janrain-capture-ui .capture_yahoo:hover {
  color: #3f004c;
}
.janrain-capture-ui .capture_aol {
  color: #6c9f37;
}
.janrain-capture-ui .capture_aol:hover {
  color: #456623;
}
.janrain-capture-ui .janrain-provider-text-facebook-custom {
  color: #385b81;
}
.janrain-capture-ui .janrain-provider-text-google-custom {
  color: #dc4938;
}
.janrain-capture-ui .janrain-provider-text-twitter-custom {
  color: #32a3c8;
}
.janrain-capture-ui .janrain-provider-text-linkedin-custom {
  color: #0072b2;
}
.janrain-capture-ui .janrain-provider-text-aol-custom {
  color: #6c9f37;
}
.janrain-capture-ui .janrain-provider-text-yahoo-custom {
  color: #7f0098;
}
.janrain-capture-ui .capture_processing {
  color: #333333;
}
.janrain-capture-ui .capture_processing:hover {
  color: #333333;
}
.janrain-capture-ui .capture_fatal_error, .janrain-capture-ui .capture_form_error, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_error {
  font-size: 13px;
  margin-bottom: 10px;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #bc0000;
  padding: 5px 10px;
  color: white;
}
.janrain-capture-ui .capture_form_error {
  margin-left: 5px;
}
.janrain-capture-ui .capture_photo_chooser_errors {
  color: #bc0000;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-bottom: 0;
}
.janrain-capture-ui .capture_photo_chooser_errors {
  *display: inline;
}
.janrain-capture-ui .capture_backButton {
  margin: 0;
  height: 26px;
  width: 26px;
  padding: 0;
}
.janrain-capture-ui a.capture_edit {
  position: absolute;
  right: 10px;
  top: 5px;
  margin: 0;
  padding: 9px 15px 9px;
}
.janrain-capture-ui .capture_provider li {
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 24px;
}
.janrain-capture-ui .capture_provider li.capture_provider_linked {
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  width: 196px;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}
.janrain-capture-ui .capture_provider li .capture_remove {
  top: 10px;
  color: #bbb;
}
.janrain-capture-ui .capture_linkAccount {
  font-weight: bold;
}
.janrain-capture-ui .capture_form_item {
  min-height: 0;
  margin-bottom: 10px;
  *zoom: 1;
}
.janrain-capture-ui .capture_form_item:after {
  content: "";
  display: table;
  clear: both;
}
.janrain-capture-ui .capture_form_item label {
  color: #333333;
  overflow: hidden;
  text-indent: -99999px;
  height: 0px;
  position: relative;
}
.janrain-capture-ui .capture_form_item .capture_tip,
.janrain-capture-ui .capture_form_item .capture_tip_error,
.janrain-capture-ui .capture_form_item .capture_tip_validating,
.janrain-capture-ui .capture_form_item .capture_tip_validated {
  width: 190px;
}
.janrain-capture-ui .capture_form_item .capture_dateselect_month {
  width: 87px;
}
.janrain-capture-ui .capture_form_item .capture_dateselect_day,
.janrain-capture-ui .capture_form_item .capture_dateselect_year {
  width: 65px;
}
.janrain-capture-ui .capture_form_item .capture_tip {
  color: #aaaaaa;
}
.janrain-capture-ui .capture_form_item.capture_focused .capture_tip {
  color: black;
}
.janrain-capture-ui .capture_form_item .capture_tip_validating {
  color: #aaaaaa;
}
.janrain-capture-ui .capture_form_item .capture_tip_validated {
  color: #aaaaaa;
}
.janrain-capture-ui .capture_form_item .capture_tip_error {
  color: #bc0000;
}
.janrain-capture-ui .capture_error .capture_radio,
.janrain-capture-ui .capture_error .capture_checkbox {
  border: 1px solid #bc0000;
  -moz-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.2) inset;
  -o-box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.2) inset;
  padding: 3px;
}
.janrain-capture-ui .capture_error .capture_text_input, .janrain-capture-ui .capture_error .capture_inputPlaceholder {
  border: 1px solid #bc0000;
}
.janrain-capture-ui .capture_validating .capture_text_input, .janrain-capture-ui .capture_validating .capture_inputPlaceholder,
.janrain-capture-ui .capture_error .capture_text_input,
.janrain-capture-ui .capture_error .capture_inputPlaceholder,
.janrain-capture-ui .capture_error .capture_checkbox,
.janrain-capture-ui .capture_validated .capture_checkbox,
.janrain-capture-ui .capture_validated .capture_text_input,
.janrain-capture-ui .capture_validated .capture_inputPlaceholder {
  background-image: none;
}
.janrain-capture-ui .capture_form_item_agreeToTerms.capture_error .capture_tip_error {
  width: auto;
}
.janrain-capture-ui .capture_display_toggle_wrap {
  position: relative;
  left: auto;
  top: auto;
  font-weight: normal;
  color: #333;
  margin-left: 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.janrain-capture-ui .capture_display_toggle_wrap {
  *display: inline;
}
.janrain-capture-ui .capture_display_toggle_wrap .capture_display_toggle_options {
  left: 0;
  top: 31px;
}
.janrain-capture-ui .capture_display_toggle_wrap .capture_display_toggle {
  padding: 2px 20px 2px 20px;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 65px center;
}
.janrain-capture-ui .capture_display_toggle_wrap .capture_display_toggle .janrain-icon-16 {
  left: 8px;
  top: 8px;
  right: auto;
}
.janrain-capture-ui .capture_display_toggle_wrap:hover {
  background-color: #f6f6f6;
}
.janrain-capture-ui .capture_display_toggle_wrap .capture_display_label {
  text-transform: capitalize;
}
.janrain-capture-ui .janrain-icon-unlocked {
  background-image: url("../images/person.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  *text-indent: -9999px !important;
}
.janrain-capture-ui .janrain-icon-locked {
  background-image: url("../images/locked_dark.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  *text-indent: -9999px !important;
}
.janrain-capture-ui .capture_tip .janrain-icon-locked {
  background-image: url("../images/locked_light.png");
  margin-left: 2px;
  vertical-align: top;
  *text-indent: -9999px !important;
}
.janrain-capture-ui .janrain-icon-check:before {
  font-size: 13px;
  margin-left: 3px;
}
.janrain-capture-ui .capture_display_option .janrain-icon-locked,
.janrain-capture-ui .capture_display_option .janrain-icon-unlocked,
.janrain-capture-ui .janrain-icon-locked:before,
.janrain-capture-ui .janrain-icon-unlocked:before {
  display: none;
}
.janrain-capture-ui .capture_traditionalPasswordChange label, .janrain-capture-ui .capture_traditionalPasswordChange .capture_inputPlaceholder {
  display: none;
}
.janrain-capture-ui .capture_traditionalPasswordChange .capture_tip {
  padding: 0;
}
.janrain-capture-ui .capture_inputPlaceholder {
  border: 0;
  width: 268px;
  margin-left: 5px;
  padding: 7px 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.janrain-capture-ui .capture_inputPlaceholder label {
  font-size: 12px;
}
.janrain-capture-ui .capture_tabs li a {
  font-size: 11px;
  background-color: #dddddd;
  -moz-box-shadow: 0 -10px 5px -8px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 -10px 5px -8px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 -10px 5px -8px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -10px 5px -8px rgba(0, 0, 0, 0.1) inset;
  font-size: 13px;
  width: 105px;
}
.janrain-capture-ui .capture_tabs li a:visited, .janrain-capture-ui .capture_tabs li a:link, .janrain-capture-ui .capture_tabs li a:hover {
  color: #666666;
}
.janrain-capture-ui.capture_toggled a {
  background-color: #f6f6f6;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.janrain-capture-ui.capture_toggled a:visited, .janrain-capture-ui.capture_toggled a:link, .janrain-capture-ui.capture_toggled a:hover {
  color: #333333;
}
.janrain-capture-ui#forgotPasswordSuccess, .janrain-capture-ui#forgotPassword {
  width: 500px;
}
.janrain-capture-ui .capture_editPhoto_container h2,
.janrain-capture-ui .capture_uploadPhoto_container h2, .janrain-capture-ui#forgotPasswordSuccess h2, .janrain-capture-ui#forgotPassword h2 {
  margin: 0 0 15px 0;
}
.janrain-capture-ui .capture_uploadPhoto_container p {
  margin-bottom: 15px;
}
.janrain-capture-ui#forgotPasswordSuccess h2 {
  width: 370px;
}
.janrain-capture-ui #recaptcha_container .recaptchatable {
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.janrain-capture-ui #recaptcha_container .recaptchatable #recaptcha_response_field {
  border: 1px solid #cccccc !important;
  color: black !important;
  width: 290px !important;
  margin-left: 0;
}
.janrain-capture-ui #recaptcha_container .recaptchatable #recaptcha_response_field:focus {
  border: 1px solid gray !important;
}
.janrain-capture-ui#capture_editProfile_photoManager_uploadphotoscreen {
  width: 450px;
}
.janrain-capture-ui#capture_editProfile_photoManager_uploadphotoscreen .capture_uploadPhoto_container {
  width: 290px;
}
.janrain-capture-ui#capture_editProfile_photoManager_editphotoscreen {
  width: 750px;
}
.janrain-capture-ui#capture_editProfile_photoManager_editphotoscreen .capture_editPhoto_container {
  width: 575px;
  float: left;
}
.janrain-capture-ui .profile_pic_edit_container {
  float: right;
}
.janrain-capture-ui .profile_pic_edit_container h2 {
  margin: 15px 0;
}
.janrain-capture-ui .capture_profile_pic_edit {
  width: 125px;
  height: 125px;
}
.janrain-capture-ui .capture_profile_pic_edit img {
  width: 125px;
}
.janrain-capture-ui .capture_editPhoto_container,
.janrain-capture-ui .capture_uploadPhoto_container {
  vertical-align: top;
  margin-top: 25px;
}
.janrain-capture-ui .capture_editPhoto_container {
  margin-top: 15px;
}
.janrain-capture-ui .capture_profile_pic_upload {
  margin-top: 25px;
}
.janrain-capture-ui .capture_signInOption,
.janrain-capture-ui .capture_createAccountOption {
  margin-top: 10px;
}
.janrain-capture-ui#returnTraditional .capture_backgroundColor,
.janrain-capture-ui .capture_signInOption .capture_backgroundColor,
.janrain-capture-ui .capture_createAccountOption .capture_backgroundColor {
  padding: 25px 10px;
}
.janrain-capture-ui .capture_fox_editProfile .capture_form_item label {
  overflow: visible;
  *float: left;
  *margin-top: 15px;
  height: auto;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 100px;
  text-align: right;
  text-indent: inherit;
  *text-indent: 0;
  *text-transform: capitalize;
}
.janrain-capture-ui .capture_fox_editProfile .capture_form_item label {
  *display: inline;
}
.janrain-capture-ui .capture_fox_editProfile .capture_form_collection_inline .capture_form_item {
  width: auto;
  margin: 5px 15px 5px 0;
}
.janrain-capture-ui .capture_form_collection_inline > label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 10px 0 7px;
  width: 100px;
  text-align: right;
  padding: 0;
}
.janrain-capture-ui .capture_form_collection_inline > label {
  *display: inline;
}
.janrain-capture-ui .capture_form_collection_inline .capture_form_item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 215px;
}
.janrain-capture-ui .capture_form_collection_inline .capture_form_item {
  *display: inline;
}
.janrain-capture-ui .capture_form_collection_inline .capture_form_item > label {
  margin-top: 0;
}
.janrain-capture-ui .capture_checkbox label,
.janrain-capture-ui .capture_form_collection .capture_form_item label {
  overflow: visible;
  text-indent: inherit;
  *float: left;
  *margin-top: 15px;
  *text-indent: 0;
  *text-transform: capitalize;
  height: auto;
  width: auto;
  text-align: left;
}
.janrain-capture-ui .capture_checkbox label[for*="capture_editProfile_autofollow_conversations"] {
  padding-left: 0;
  padding-right: 25px;
}
.janrain-capture-ui .capture_checkbox input.capture_autofollow_conversations {
  right: 5px;
  left: auto;
}
.janrain-capture-ui#editProfile {
  width: auto;
}
.janrain-capture-ui#editProfile .capture_form_item .capture_tip {
  color: #666;
}
.janrain-capture-ui .fox_table_row {
  *zoom: 1;
}
.janrain-capture-ui .fox_table_row:after {
  content: "";
  display: table;
  clear: both;
}
.janrain-capture-ui .fox_table_row h2 {
  margin-top: 10px;
}
.janrain-capture-ui .fox_table_row h3 {
  font-weight: normal;
  margin-top: 10px;
}
.janrain-capture-ui .fox_table_row .capture_form_item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 200px;
}
.janrain-capture-ui .fox_table_row .capture_form_item {
  *display: inline;
}
.janrain-capture-ui .fox_table_row .capture_form_item.capture_form_item_edit_commentingNotificationsReplies_Never_3, .janrain-capture-ui .fox_table_row .capture_form_item.capture_form_item_edit_commentingNotificationsLikes_Never_3 {
  margin-right: 0;
}
.janrain-capture-ui .fox_table_row .capture_form_item label {
  overflow: visible;
  text-indent: inherit;
  margin: 0;
  width: auto;
}
.janrain-capture-ui .fox_table_row .capture_form_item .capture_input_radio {
  margin: 16px 0 0;
}
.janrain-capture-ui .fox_table_col {
  float: left;
  width: 215px;
}
.janrain-capture-ui .fox_table_col.fox_table_col_skinny {
  width: 90px;
}
.janrain-capture-ui .fox_table_col.fox_table_col_full {
  width: 735px;
}
.janrain-capture-ui .capture_table {
  width: 100%;
}
.janrain-capture-ui .capture_table th {
  font-weight: bold;
  border-bottom: 1px dashed #bbb;
  padding: 5px 5px 5px 0;
}
.janrain-capture-ui .capture_table td {
  padding: 5px 5px 5px 0;
  width: 22%;
}
.janrain-capture-ui .capture_table .capture_radio {
  position: static;
}
.janrain-capture-ui .capture_profile_pic_upload,
.janrain-capture-ui .capture_profile_pic_display,
.janrain-capture-ui .capture_profile_pic {
  width: 139px;
  height: 139px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  overflow: hidden;
}
.janrain-capture-ui .capture_profile_pic_upload,
.janrain-capture-ui .capture_profile_pic_display,
.janrain-capture-ui .capture_profile_pic {
  *display: inline;
}
.janrain-capture-ui .capture_profile_pic_upload img,
.janrain-capture-ui .capture_profile_pic_display img,
.janrain-capture-ui .capture_profile_pic img {
  width: 135px;
  height: 135px;
  border: 2px #000 solid;
}
.janrain-capture-ui .options {
  display: block;
}
.janrain-capture-ui .options li {
  padding: 0 5px;
  text-align: left;
}
.janrain-capture-ui .options .capture_upload_photo,
.janrain-capture-ui .options .capture_edit_photo {
  padding-left: 20px;
  background-image: url("../images/camera.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.janrain-capture-ui .options .capture_remove_photo {
  display: none;
}
.janrain-capture-ui .capture_userphoto .capture_upload_photo {
  display: none;
}
.janrain-capture-ui .capture_userphoto .capture_default,
.janrain-capture-ui .capture_userphoto .capture_male,
.janrain-capture-ui .capture_userphoto .capture_female {
  background-image: none;
}
.janrain-capture-ui #capture_accountInfo {
  float: left;
  width: 660px;
}
.janrain-capture-ui#linkedAccounts .capture_form_item label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.janrain-capture-ui#publicProfile .capture-public-public_summary {
  margin-bottom: 15px;
}
.janrain-capture-ui#publicProfile .capture-public-displayName {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.janrain-capture-ui#publicProfile .capture-public-displayName {
  *display: inline;
}
.janrain-capture-ui#publicProfile .capture-public-displayName h1 {
  font-size: 22px;
  color: #333333;
  padding-top: 0;
}
.janrain-capture-ui#publicProfile .capture_personal_info h2 {
  float: right;
  font-size: 17px;
  padding: 0;
}
.janrain-capture-ui#publicProfile .capture_profile_pic {
  border: 1px white solid;
}
.janrain-capture-ui .capture_data_item {
  margin-bottom: 15px;
}
.janrain-capture-ui .capture_data_item label {
  width: 100px;
  margin-right: 10px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
  color: #666;
}
.janrain-capture-ui .capture_data_item label {
  *display: inline;
}
.janrain-capture-ui .capture_data_item .capture_data {
  width: 140px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
.janrain-capture-ui .capture_data_item .capture_data {
  *display: inline;
}
.janrain-capture-ui .capture_popup_container {
  background-color: #f6f6f6;
  border: 1px solid #cccccc;
}
.janrain-capture-ui .capture_popup_container p {
  margin-top: 0;
}
.janrain-capture-ui .capture_popup_container .capture_popup-arrow:after {
  background: #f6f6f6;
  border: 1px solid #cccccc;
}
.janrain-capture-ui div#email_tip {
  color: #bc0000;
}

.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile {
  width: 100%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile#forgotPasswordSuccess, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile#forgotPassword {
  width: 100%;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_access,
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_retrieving {
  width: 135px;
  margin-left: -100px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_text_input, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_inputPlaceholder, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_select, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_textarea {
  background-color: #f5f5f5;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_fatal_error, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_error, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_error {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_fox_social_btn {
  width: 41%;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_fox_buttoncol {
  text-align: left;
  width: 250px;
  margin: 0 auto;
  padding: 0 10px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_btn, .janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_btn:active {
  width: 45%;
  padding: 10px 0;
  margin: 3px 5px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_item {
  border-bottom: 0;
  padding: 10px 10px;
  width: 250px;
  margin: 0 auto;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_item.capture_form_item_captcha {
  width: 370px;
  padding-left: 0;
  padding-right: 0;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_item .capture_tip,
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_item .capture_tip_error,
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_item .capture_tip_validating,
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_item .capture_tip_validated {
  width: 230px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_form_item_agreeToTerms {
  width: auto;
  margin: 0 auto;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_slider_public_container,
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_slider_container {
  width: 95%;
  font-size: 11px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_profile_section {
  margin-right: 5px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_profile_data {
  width: 145px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_data_item {
  margin-bottom: 10px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_data_item .capture_data {
  width: 120px;
}
.janrain-capture-ui.capture-ui-content.janrain-capture-ui-mobile .capture_data_item label {
  display: block;
  width: auto;
}
