.janrain-capture-ui .capture_mattel_sidebar {
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-box-shadow: inset 0 1px 5px #555;
  -webkit-box-shadow: inset 0 1px 5px #555;
  -o-box-shadow: inset 0 1px 5px #555;
  box-shadow: inset 0 1px 5px #555;
  border-left: 3px solid #7AB433;
  background: rgb(172,196,54); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(172,196,54,1) 0%, rgba(140,188,57,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172,196,54,1)), color-stop(100%,rgba(140,188,57,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(172,196,54,1) 0%,rgba(140,188,57,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(172,196,54,1) 0%,rgba(140,188,57,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(172,196,54,1) 0%,rgba(140,188,57,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(172,196,54,1) 0%,rgba(140,188,57,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acc436', endColorstr='#8cbc39',GradientType=0 ); /* IE6-9 */
}
.janrain-capture-ui .capture_mattel_col_feature {
  background-color: #971BC9;
  border: 3px solid #6C2687;
  -o-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: white;
}
.janrain-capture-ui .capture_footer {
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-box-shadow: inset 0 -2px 5px #888;
  -webkit-box-shadow: inset 0 -2px 5px #888;
  -o-box-shadow: inset 0 -2px 5px #888;
  box-shadow: inset 0 -2px 5px #888;
  border-top: 1px solid #9B9B9B;
  background: #CACACA;
  color: #6F6F6F;
}
.janrain-capture-ui h1,
.janrain-capture-ui h2,
.janrain-capture-ui h3,
.janrain-capture-ui h4,
.janrain-capture-ui h5,
.janrain-capture-ui h6 {
  color: #6C2687;
}
.janrain-capture-ui {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: inset 0 1px 5px #555;
  -webkit-box-shadow: inset 0 1px 5px #555;
  -o-box-shadow: inset 0 1px 5px #555;
  box-shadow: inset 0 1px 5px #555;
}
.janrain-capture-ui a,
.janrain-capture-ui a:visited,
.janrain-capture-ui a:link,
.janrain-capture-ui a.capture_secondary:visited,
.janrain-capture-ui a.capture_secondary:link,
.janrain-capture-ui a.capture_secondary:hover {
  color: #7F4097;
}
.janrain-capture-ui .backgroundColor a,
.janrain-capture-ui #capture_form_item_createAccountButton a,
.janrain-capture-ui .backgroundColor a:visited,
.janrain-capture-ui #capture_form_item_createAccountButton a:visited,
.janrain-capture-ui .backgroundColor a:link,
.janrain-capture-ui #capture_form_item_createAccountButton a:link {
  color: #EC008C;
}
.janrain-capture-ui .capture_form_item label {
  color: #6C2687;
  font-size: 1.2em;
}
.janrain-capture-ui .capture_mattel_col_feature a,
.janrain-capture-ui .capture_mattel_col_feature h1,
.janrain-capture-ui .capture_mattel_col_feature h2,
.janrain-capture-ui .capture_mattel_col_feature h3,
.janrain-capture-ui .capture_mattel_col_feature h4 {
  color: white;   
}
.janrain-capture-ui .capture_footer a,
.janrain-capture-ui .capture_footer a:visited,
.janrain-capture-ui .capture_footer a:link {
  color: #666;
}
.janrain-capture-ui .capture_footer a:hover {
  color: #444;
}
.janrain-capture-ui input,
.janrain-capture-ui .capture_checkbox,
.janrain-capture-ui .capture_radio,
.janrain-capture-ui select,
.janrain-capture-ui textarea,
.janrain-capture-ui .capture_checkbox,
.janrain-capture-ui .capture_radio {
  font-family: helvetica, sans-serif;
  border: 2px solid #7BB440;
  color: #B6B6B6;
  background-color: white;
  -moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
}
.janrain-capture-ui input:focus,
.janrain-capture-ui input.capture_text:focus {
  border: 2px solid #7BB440;
}
.janrain-capture-ui input:focus,
.janrain-capture-ui input.text:focus {
  color: #333333;
  background-color: white;
  -moz-box-shadow: 0 0 3px #7BB440;
  -webkit-box-shadow: 0 0 3px #7BB440;
  -o-box-shadow: 0 0 3px #7BB440;
  box-shadow: 0 0 3px #7BB440;
  border: 2px solid #7BB440;
}
.janrain-capture-ui .capture_mattel_sidebar a,
.janrain-capture-ui .capture_mattel_sidebar a:visited,
.janrain-capture-ui .capture_mattel_sidebar a:link {
  color: white;
  font-weight: bold;
}
.janrain-capture-ui a.capture_btn,
.janrain-capture-ui a.capture_btn:visited,
.janrain-capture-ui a.capture_btn:link,
.janrain-capture-ui button.capture_btn,
.janrain-capture-ui button.capture_btn:visited,
.janrain-capture-ui button.capture_btn:link,
.janrain-capture-ui input.capture_btn,
.janrain-capture-ui input.capture_btn:visited,
.janrain-capture-ui input.capture_btn:link,
#janrainModal a.janrain_modal_closebutton,
#janrainModal a.janrain_modal_closebutton:visited,
#janrainModal a.janrain_modal_closebutton:link,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:visited,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:link,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:visited,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:link {
  padding: 5px 10px;
  border: 3px solid #E99D10;
  color: #EC008C;
  text-transform: uppercase;
  font-weight: bold;
  -moz-box-shadow: 0 1px 5px #351444;
  -webkit-box-shadow: 0 1px 5px #351444;
  -o-box-shadow: 0 1px 5px #351444;
  box-shadow: 0 1px 5px #351444;
  -o-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radiuis: 16px;
  background: #F2E532;
  background: -moz-linear-gradient(top,  rgba(254,232,52,1) 0%, rgba(249,189,48,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,232,52,1)), color-stop(100%,rgba(249,189,48,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,232,52,1) 0%,rgba(249,189,48,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,232,52,1) 0%,rgba(249,189,48,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,232,52,1) 0%,rgba(249,189,48,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(254,232,52,1) 0%,rgba(249,189,48,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee834', endColorstr='#f9bd30',GradientType=0 ); /* IE6-9 */
  text-decoration: none;
  text-shadow: 0 1px 0 #FEF07A;
}
.janrain-capture-ui a.capture_btn:hover,
.janrain-capture-ui button.capture_btn:hover,
.janrain-capture-ui input.capture_btn:hover,
#janrainModal a.janrain_modal_closebutton:hover,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:hover,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:hover {
  color: #CA007C;
}
.janrain-capture-ui a.capture_btn:active,
.janrain-capture-ui a.capture_btn:focus,
.janrain-capture-ui a.capture_btn:active:focus,
.janrain-capture-ui button.capture_btn:active,
.janrain-capture-ui button.capture_btn:focus,
.janrain-capture-ui button.capture_btn:active:focus,
.janrain-capture-ui input.capture_btn:active,
.janrain-capture-ui input.capture_btn:focus,
.janrain-capture-ui input.capture_btn:active:focus,
#janrainModal a.janrain_modal_closebutton:active,
#janrainModal a.janrain_modal_closebutton:focus,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:active,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:focus,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:active,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:focus {
  padding: 5px 10px;
  border: 3px solid #E99D10;
  color: #EC008C;
  text-transform: uppercase;
  font-weight: bold;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -o-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radiuis: 16px;
  background: #F2E532; /* IE6-9 */
}
#janrainModal a.janrain_modal_closebutton,
#janrainModal a.janrain_modal_closebutton:visited,
#janrainModal a.janrain_modal_closebutton:link {
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #EC008C;
  text-decoration: none;
  padding: 6px;
}
.capture_mattel_getStarted p:first-child {
  color: #6C2687;
}
.janrain-capture-ui .capture_form_item label .capture_mattel_step {
  background: #C0D72F;
  border: #7BB440;
  color: #352C66;
  border: 2px solid #7BB440;
}