.janrain_close_confirm_container {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  line-height: 17px;
  font-family: helvetica, sans-serif;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  z-index: 1001;
}
.janrain_modal_closebutton {
  font-size: 20px;
  line-height: 25px;
  font-family: helvetica, sans-serif;
  top: 15px !important;
  right: 15px !important;
  width: auto !important;
  height: auto !important;
}
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm {
  background-color: #009ddc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34c5ff), color-stop(100%, #0092cd));
  background: -webkit-linear-gradient(top, #34c5ff, #0092cd);
  background: -moz-linear-gradient(top, #34c5ff, #0092cd);
  background: -o-linear-gradient(top, #34c5ff, #0092cd);
  background: -ms-linear-gradient(top, #34c5ff, #0092cd);
  background: linear-gradient(top, #34c5ff, #0092cd);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  color: white;
}
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel {
  background-color: #f6f6f6;
  color: #009ddc;
}

.janrain-capture-ui {
  font-size: 13px;
  line-height: 1.5em;
}
.janrain-capture-ui h1,
.janrain-capture-ui h2,
.janrain-capture-ui h3,
.janrain-capture-ui h4,
.janrain-capture-ui h5,
.janrain-capture-ui h6 {
  font-weight: bold;
}
.janrain-capture-ui h1 {
  color: #333;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2em;
  margin-bottom: 15px;
}
.janrain-capture-ui h2 {
  font-size: 20px;
}
.janrain-capture-ui input,
.janrain-capture-ui .capture_checkbox,
.janrain-capture-ui .capture_radio,
.janrain-capture-ui select,
.janrain-capture-ui textarea,
.janrain-capture-ui .capture_checkbox,
.janrain-capture-ui .capture_radio {
  font-family: helvetica, sans-serif;
}
.janrain-capture-ui.capture-ui-content {
  padding: 30px 75px 85px;
  width: 525px;
  margin: 0 auto;
}
#completeRegistration.janrain-capture-ui.capture-ui-content {
  padding: 30px 100px 85px;
  width: 460px;
}
.janrain-capture-ui #capture_signInOption,
.janrain-capture-ui #capture_createAccountOption {
  margin: 0;
}
.janrain-capture-ui #capture_form_item_goButton {
  text-align: right;
}
.janrain-capture-ui .capture_mattel_col {
  width: 280px;
}
.janrain-capture-ui .capture_mattel_sidebar {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  width: 210px;
  text-align: center;
  height: 100%;
  z-index: 4;
}
.janrain-capture-ui .capture_mattel_col_feature {
  width: 170px;
  border: 3px solid #c3c3c3;
  margin: 40% auto 10px;
  padding: 10px;
}
.janrain-capture-ui .capture_mattel_col_feature h2 {
  font-size: 15px;
  line-height: 22px;
  padding-top: 0;
}
.janrain-capture-ui .capture_mattel_col_feature a.capture_btn {
  margin-top: 0;
}
.janrain-capture-ui .capture_mattel_col_feature a.capture_text_link {
  font-size: 11px;
  font-weight: bold;
}
.janrain-capture-ui .capture_mattel_col_feature a.capture_text_link:visited {
  font-size: 11px;
}
.janrain-capture-ui .capture_mattel_col_feature a.capture_text_link:link {
  font-size: 11px;
}
.janrain-capture-ui .capture_mattel_col_feature p {
  margin-bottom: 8px;
}
.janrain-capture-ui .capture_mattel_registrationComplete_feature {
  margin-top: 15px;
}
.janrain-capture-ui .capture_footer {
  text-align: left;
  height: auto;
}
.janrain-capture-ui#completeRegistration .capture_footer {
  text-align: center;
}
.janrain-capture-ui .footer-logo {
  display: block;
  float: left;
  margin-left: 200px;
}
.janrain-capture-ui .capture_footer p.slogan {
  display: block;
  float: left;
  clear: none;
  margin: 20px 0 20px 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
}
.janrain-capture-ui .capture_footer p {
  margin: 0 15px;
  font-weight: bold;
  clear: both;
}
.janrain-capture-ui .capture_footer p:first-child {
  font-weight: normal;
}
.capture_mattel_getStarted p {
  display: block;
  text-align: right;
  margin-bottom: 0;
}

.janrain-capture-ui .capture_fatal_error, .janrain-capture-ui .capture_form_error {
  border: 1px solid #DD3C10;
  color: #414141;
  background: #F8D9D1;
  width: 235px;
}

.janrain-capture-ui .capture_form_item {
  /* state: validating */
}
.janrain-capture-ui .capture_form_item label {
  font-weight: bold;
  position: relative;
}
.janrain-capture-ui .capture_form_item label p {
  margin-left: 7px;
}
.janrain-capture-ui .capture_form_item label .capture_mattel_step {
  position: absolute;
  top: -5px;
  left: -40px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  height: 18px;
  width: 20px;
  text-align: center;
  font-size: 15px;
  display: none;
  padding: 2px;
  line-height: 18px;
}
.janrain-capture-ui #capture_createAccountForm .capture_mattel_step {
  display: block;
}
.janrain-capture-ui .capture_form_item .capture_tip {
  display: none;
}
.janrain-capture-ui .capture_form_item.capture_focused .capture_tip {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.janrain-capture-ui .capture_form_item.focused .capture_tip {
  *display: inline;
}
.janrain-capture-ui .capture_form_item .capture_display_radios .capture_radio_box label,
.janrain-capture-ui .capture_form_item .capture_checkbox-list .capture_radio_box label {
  background-color: transparent;
}
.janrain-capture-ui #capture_signInOption .capture_form_item label,
.janrain-capture-ui #capture_createAccountOption .capture_form_item label {
  display: block;
}
.janrain-capture-ui #capture_signInOption .capture_form_item .capture_tip,
.janrain-capture-ui #capture_signInOption .capture_form_item .capture_tip_validating,
.janrain-capture-ui #capture_signInOption .capture_form_item .capture_tip_error,
.janrain-capture-ui #capture_createAccountOption .capture_form_item .capture_tip,
.janrain-capture-ui #capture_createAccountOption .capture_form_item .capture_tip_validating,
.janrain-capture-ui #capture_createAccountOption .capture_form_item .capture_tip_error {
  margin-left: 7px;
}
.janrain-capture-ui #capture_photoManager {
  /* photo default styles */
}
.janrain-capture-ui #capture_photoManager #profile_pic {
  width: 100px;
  height: 100px;
}
.janrain-capture-ui #capture_photoManager #profile_pic.default,
.janrain-capture-ui #capture_photoManager #profile_pic.male {
  background-image: url("../images/profile_default.png");
}
.janrain-capture-ui #capture_photoManager #profile_pic.female {
  background-image: url("../images/profile_female.png");
}
.janrain-capture-ui #capture_photoManager #profile_pic img {
  width: 100px;
  height: 100px;
}
.janrain-capture-ui #publicProfile .capture-public-displayName h1 {
  font-size: 23px;
}
.janrain-capture-ui #publicProfile .capture-personal_info h2 {
  font-size: 18px;
}
.janrain-capture-ui div#email_tip {
  color: #f58002;
}
.janrain-capture-ui a,
.janrain-capture-ui a:visited,
.janrain-capture-ui a:link {
  text-decoration: underline;
}
.janrain-capture-ui a.capture_btn,
.janrain-capture-ui a.capture_btn:visited,
.janrain-capture-ui a.capture_btn:link,
.janrain-capture-ui button.capture_btn,
.janrain-capture-ui button.capture_btn:visited,
.janrain-capture-ui button.capture_btn:link,
.janrain-capture-ui input.capture_btn,
.janrain-capture-ui input.capture_btn:visited,
.janrain-capture-ui input.capture_btn:link {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.janrain-capture-ui a.close_button,
.janrain-capture-ui a.close_button:visited,
.janrain-capture-ui a.close_button:link {
  font-family: helvetica, sans-serif;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1000;
  font-size: 18px;
  padding: 4px 8px
}
.janrain-capture-ui input,
.janrain-capture-ui select {
  position: relative;
  z-index: 2;
}
.janrain-capture-ui .capture_form_item.capture_error input {
  background-image: url('../images/error.png');
}
.janrain-capture-ui .capture_form_item .capture_tip,
.janrain-capture-ui .capture_form_item .capture_error .capture_tip_validating,
.janrain-capture-ui .capture_form_item .capture_error .capture_tip,
.janrain-capture-ui .capture_form_item .capture_tip_error{
  position: relative;
  border-top: 0;
  text-align: left;
  margin: -2px 0 0 8px;
  width: 264px;
  padding: 5px;
  margin-top: -5px;
  padding-top: 10px;
  z-index: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.janrain-capture-ui .capture_form_item .capture_tip_error {
  border: 1px solid #DD3C10;
  color: #414141;
  background: #F8D9D1;
}
.janrain-capture-ui .capture_form_item .capture_tip_error .capture_suggestions .capture_suggestion {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.janrain-capture-ui .capture_form_item .capture_tip,
.janrain-capture-ui .capture_form_item .capture_error .capture_tip_validating,
.janrain-capture-ui .capture_form_item .capture_error .capture_tip,
.janrain-capture-ui .capture_form_item .capture_focused .capture_tip {
  position: relative;
  border: 1px solid #CDDAE5;
  color: #657C92;
  background: #ECF1F5;
}
.janrain-capture-ui .capture_backgroundColor,
.janrain-capture-ui #capture_form_item_createAccountButton,
.janrain-capture-ui .janrain-capture-ui-mobile .capture_profile_section,
.janrain-capture-ui-mobile .janrain-capture-ui .capture_profile_section {
  position: relative;
  background: #ECF1F5;
  border: 1px solid #CDDAE5;
  color: #657C92;
  text-shadow: 0 1px 0 white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
}
#printRegistration .capture_backgroundColor {
  position: relative;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 5px;
}
.janrain-capture-ui .capture_mattel_printPassword,
.janrain-capture-ui .capture_mattel_skipPrint {
  overflow: hidden;
  *zoom: 1;
}
.scissors-icon {
  width: 23px;
  height: 33px;
  background: url('../images/scissors-icon.png');
  position: absolute;
  top: 40px;
  right: -24px;
}
.janrain-capture-ui .capture_mattel_printPassword .capture_form_item {
  min-height: 0;
  margin: 0;
  line-height: 2em;
  max-width: 315px;
}
.janrain-capture-ui .capture_mattel_printPassword .capture_form_item label {
  color: #657C92;
  text-shadow: 0 1px 0 white;
  display:block;
  float: left;
  font-weight: normal;
  min-width: 90px;
  font-size: 14px;
  margin-top: 1px;
}
.janrain-capture-ui .capture_mattel_printPassword .capture_form_item p {
  margin: 0;
  display:block;
  float: left;
  font-weight: bold;
  font-size: 18px;
}
.janrain-capture-ui a.close-button:link {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  display: block;
  padding: 3px 6px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5em;
}
.janrainModal > img {
  display: none;
}

@media print {
  #janrainModal {
    top: 0 !Important;
    left: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 95% !important;
    background-color: white;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  #printRegistration {
    background: none transparent;
  }
  #printRegistration.capture-ui-content {
    width: 100%;
    padding: 0;
  }
  #printRegistration.capture-ui-content .capture_mattel_registrationComplete_feature,
  #printRegistration.capture-ui-content .capture_btn.capture_primary,
  #printRegistration.capture-ui-content .capture_btn.capture_secondary,
  #printRegistration.capture-ui-content .capture_footer {
    display: none;
  }
}