#janrainModal {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
.janrain-capture-ui .capture_mattel_sidebar {
  -webkit-border-top-right-radius: 11px;
  -webkit-border-bottom-right-radius: 11px;
  -moz-border-radius-topright: 11px;
  -moz-border-radius-bottomright: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background: #DE1C85;
}
.janrain-capture-ui .capture_mattel_col_feature {
  background-color: white;
  border: 3px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #DE1C85;
}
.janrain-capture-ui .capture_footer {
  -webkit-border-bottom-right-radius: 11px;
  -webkit-border-bottom-left-radius: 11px;
  -moz-border-radius-bottomright: 11px;
  -moz-border-radius-bottomleft: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  -moz-box-shadow: inset 0 -2px 5px #888;
  -webkit-box-shadow: inset 0 -2px 5px #888;
  -o-box-shadow: inset 0 -2px 5px #888;
  box-shadow: inset 0 -2px 5px #888;
  border-top: 1px solid #9B9B9B;
  background: #CACACA;
  color: #6F6F6F;
}
.janrain-capture-ui h1,
.janrain-capture-ui h2,
.janrain-capture-ui h3,
.janrain-capture-ui h4,
.janrain-capture-ui h5,
.janrain-capture-ui h6 {
  color: #E20177;
}
.janrain-capture-ui {
  border: 4px solid #2EBBDF;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: inset 0 1px 5px #555;
  -webkit-box-shadow: inset 0 1px 5px #555;
  -o-box-shadow: inset 0 1px 5px #555;
  box-shadow: inset 0 1px 5px #555;
}
.janrain-capture-ui a,
.janrain-capture-ui a:visited,
.janrain-capture-ui a:link,
.janrain-capture-ui a.capture_secondary:visited,
.janrain-capture-ui a.capture_secondary:link,
.janrain-capture-ui a.capture_secondary:hover {
  color: #7F4097;
}
.janrain-capture-ui .backgroundColor a,
.janrain-capture-ui #capture_form_item_createAccountButton a,
.janrain-capture-ui .backgroundColor a:visited,
.janrain-capture-ui #capture_form_item_createAccountButton a:visited,
.janrain-capture-ui .backgroundColor a:link,
.janrain-capture-ui #capture_form_item_createAccountButton a:link {
  color: #EC008C;
}
.janrain-capture-ui .capture_form_item label {
  color: #DE1C85;
  font-size: 1.2em;
}
.janrain-capture-ui .capture_mattel_col_feature h1,
.janrain-capture-ui .capture_mattel_col_feature h2,
.janrain-capture-ui .capture_mattel_col_feature h3,
.janrain-capture-ui .capture_mattel_col_feature h4 {
  color: #DE1C85; 
}
.janrain-capture-ui .capture_footer a,
.janrain-capture-ui .capture_footer a:visited,
.janrain-capture-ui .capture_footer a:link {
  color: #666;
}
.janrain-capture-ui .capture_footer a:hover {
  color: #444;
}
.janrain-capture-ui input,
.janrain-capture-ui .capture_checkbox,
.janrain-capture-ui .capture_radio,
.janrain-capture-ui select,
.janrain-capture-ui textarea,
.janrain-capture-ui .capture_checkbox,
.janrain-capture-ui .capture_radio {
  font-family: helvetica, sans-serif;
  border: 2px solid #00AEEF;
  color: #B6B6B6;
  background-color: white;
  -moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
}
.janrain-capture-ui input:focus,
.janrain-capture-ui input.capture_text:focus {
  border: 2px solid #00AEEF;
}
.janrain-capture-ui input:focus,
.janrain-capture-ui input.text:focus {
  color: #333333;
  background-color: white;
  -moz-box-shadow: 0 0 3px #6C2687;
  -webkit-box-shadow: 0 0 3px #6C2687;
  -o-box-shadow: 0 0 3px #6C2687;
  box-shadow: 0 0 3px #6C2687;
  border: 2px solid #00AEEF;
}
.janrain-capture-ui .capture_mattel_sidebar a,
.janrain-capture-ui .capture_mattel_sidebar a:visited,
.janrain-capture-ui .capture_mattel_sidebar a:link {
  color: #1484C4;
  font-weight: bold;
}
.janrain-capture-ui .capture_mattel_sidebar > p a,
.janrain-capture-ui .capture_mattel_sidebar > p a:visited,
.janrain-capture-ui .capture_mattel_sidebar > p a:link {
  color: white;
}
.janrain-capture-ui a.capture_btn,
.janrain-capture-ui a.capture_btn:visited,
.janrain-capture-ui a.capture_btn:link,
.janrain-capture-ui button.capture_btn,
.janrain-capture-ui button.capture_btn:visited,
.janrain-capture-ui button.capture_btn:link,
.janrain-capture-ui input.capture_btn,
.janrain-capture-ui input.capture_btn:visited,
.janrain-capture-ui input.capture_btn:link,
#janrainModal a.janrain_modal_closebutton,
#janrainModal a.janrain_modal_closebutton:visited,
#janrainModal a.janrain_modal_closebutton:link,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:visited,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:link,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:visited,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:link {
  padding: 5px 10px;
  border: 3px solid white;
  color: #DE1C85;
  text-transform: uppercase;
  font-weight: bold;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: 0 1px 5px #6C2687;
  -webkit-box-shadow: 0 1px 5px #6C2687;
  -o-box-shadow: 0 1px 5px #6C2687;
  box-shadow: 0 1px 5px #6C2687;
  background: #FDEA49;
  text-decoration: none;
  text-shadow: 0 1px 1px white;
  text-align: center;
}
.janrain_modal_closebutton {
  padding: 3px 7px 0;
}
.janrain-capture-ui a.capture_btn:hover,
.janrain-capture-ui button.capture_btn:hover,
.janrain-capture-ui input.capture_btn:hover,
#janrainModal a.janrain_modal_closebutton:hover,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:hover,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:hover {
  color: #7D4792;
}
.janrain-capture-ui a.capture_btn:active,
.janrain-capture-ui a.capture_btn:focus,
.janrain-capture-ui a.capture_btn:active:focus,
.janrain-capture-ui button.capture_btn:active,
.janrain-capture-ui button.capture_btn:focus,
.janrain-capture-ui button.capture_btn:active:focus,
.janrain-capture-ui input.capture_btn:active,
.janrain-capture-ui input.capture_btn:focus,
.janrain-capture-ui input.capture_btn:active:focus,
#janrainModal a.janrain_modal_closebutton:active,
#janrainModal a.janrain_modal_closebutton:focus,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:active,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_confirm:focus,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:active,
.janrain_close_confirm_container .janrain_close_confirm .janrain_modal_cancel:focus {
  padding: 5px 10px;
  border: 3px solid white;
  color: #7D4792;
  text-transform: uppercase;
  font-weight: bold;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
#janrainModal a.janrain_modal_closebutton,
#janrainModal a.janrain_modal_closebutton:visited,
#janrainModal a.janrain_modal_closebutton:link {
  padding: 6px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
.capture_mattel_getStarted p:first-child {
  color: #00BCE4;
}
.janrain-capture-ui .capture_form_item label .capture_mattel_step {
  background: #DE1C85;
  color: white;
  border: 2px solid #DE1C85;
}