/* 001-header-25px.css */
#mdn-hd {
	position:relative; /* added by Mattel 20090903 */
    font: normal 11px/1.3em Arial,Helvetica,verdana,sans;
	color: #333;
    text-align:center;
    padding:0;
    margin:0;
    height:25px;
    z-index:5;
}
/* normalize hd elements */
#mdn-hd ul, #mdn-hd li { list-style:none; margin:0; padding:0;}
#mdn-hd input{font-family:inherit;font-size:inherit;font-weight:inherit; *font-size:100%;}
#mdn-hd a {color: #333; font-weight:bold; text-decoration: none; outline: none;}
#mdn-hd a:hover {text-decoration:none;}
#mdn-hd p {padding:0; margin:0;}
#mdn-hd img {border:none;}
/* just in case there is padding and margin on body tag */
#mdn-hd .hd-bg-wrap {
    width:100%;
    height:25px;
    position:absolute;
    top:0;
    left:0;
    padding:0;
    margin:0;
    background: url(../images/gbl-search-sm-spr.gif) 0 0 repeat-x;
}

#mdn-hd .hd-mod-wrap {
    width:964px;
    margin:0 auto;
    text-align: left;
    padding:0 8px;
    position:relative;
    z-index:4;
}

#mdn-hd a#site-logo {
    float:left;
    display:block;
    width:66px;
    height:25px;
    background:url(../images/gbl-search-sm-spr.gif) 0 -45px no-repeat;
    cursor:pointer;
}

#mdn-hd a#site-logo:hover {
    background-position: -73px -45px;
}

#mdn-hd a#site-logo span {
    left:-999em;
    position:absolute;
}

/* top navigation */
#mdn-hd .nav-wrap {
    width:536px;
    padding: 0 0 0 26px;
    float:left;
}

#mdn-top-nav li a {
    display:block;
    width:100%;
    text-align:center;
    padding: 5px 0 0;
    height:20px;
}

#mdn-top-nav li:hover a,
#mdn-top-nav li.sfhover a {
    color:#dd0000;
}

#mdn-top-nav li ul li a {
    margin-bottom:0;
    display:inline !important;
    background-image:none !important;
    color: #dd0000;
    font-weight:bold;
}

#mdn-top-nav li ul li a:hover {
    text-decoration:underline;
}

#mdn-top-nav li {
    float: left;
    position:relative;
    width: 64px;
}
#mdn-top-nav li ul {
    position: absolute;
    width: 708px;
    left:-999em;
}

#mdn-top-nav li ul li {
    width:100%;
    float:left;
    padding:10px 0;
}

#mdn-top-nav li:hover ul,
#mdn-top-nav li.sfhover ul{
    left: -400px;
}

#mdn-top-nav li ul li .nav-item {
    float:left;
    width:128px;
    padding-right: 10px;
}

#mdn-top-nav li ul li.brand-logos .nav-item {
    text-align:center;
}


#mdn-top-nav li#nav-games {
    padding-right: 18px;
}

#mdn-top-nav li#nav-videos {
    padding-right: 26px;
}

#mdn-top-nav li#nav-toy-factory {
    width:84px;
    padding-right: 21px;
}

#mdn-top-nav li#nav-my-mattel {
    width:84px;
    padding-right: 18px;
}
#mdn-top-nav li#nav-my-mattel a {
    background-position: 0 0;
}

#mdn-top-nav li#nav-sites {
    width:84px;
    padding-right: 28px;
}

#mdn-top-nav li#nav-sites a span {
    padding-right: 11px;
    background: url(../images/gbl-search-sm-spr.gif) 100% -90px no-repeat;
}

#mdn-top-nav li#nav-sites:hover a span,
#mdn-top-nav li#nav-sites.sfhover a span {
    background-position: 100% -125px;
}

#mdn-top-nav li#nav-shop {
    width: 90px;
    padding-right: 0;
}

#nav-dropdown-menu {
    padding: 10px 20px 20px !important;
    background: url(../images/nav-dropdown-bg.png) bottom left no-repeat;
    z-index:2;
}

#nav-dropdown-menu a {
    font-size:12px;
}

#nav-dropdown-menu a img {
    border:1px solid #fff;
}

#nav-dropdown-menu a:hover img {
    border:1px solid #dd0000;
}

/* search */
#site-search-wrap {
    width: 298px;
    float:left;
    padding-top:2px;
    position:relative;
}

#site-search-wrap form {
    position: absolute;
    top:2px;
    left:0;
}

#site-search-wrap .nav-links {
    text-align: right;
    padding-top: 3px;
}

#site-search-wrap .nav-links a {
    color:#333;
    font-weight:bold;
}
#site-search-wrap .nav-links a:hover {
    text-decoration:underline;
}
#site-search-wrap input {
    width:122px;
    height:18px;
    float:left;
    border:0;
    background: url(../images/gbl-search-sm-spr.gif) 0 -159px no-repeat;
    padding:3px 12px 0;
    outline:none;
    font-size:11px;
    font-weight:bold;
}

#site-search-wrap input.form-submit {
    width: 20px;
    height:20px;
    margin-left:2px;
    border:0;
    cursor:pointer;
    background-position: 0 -200px; 
    padding:0;
}
#site-search-wrap input.form-submit:hover,
#site-search-wrap input.form-submit.hover {
    background-position: -73px -200px;
}







